<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.dao.UsUserMapper">
  <resultMap id="BaseResultMap" type="com.hr.entity.UsUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UserNo" jdbcType="VARCHAR" property="userno" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="ABC" jdbcType="VARCHAR" property="abc" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="Address" jdbcType="VARCHAR" property="address" />
    <result column="Phone" jdbcType="VARCHAR" property="phone" />
    <result column="SMSPhone" jdbcType="VARCHAR" property="smsphone" />
    <result column="AreaID" jdbcType="INTEGER" property="areaid" />
    <result column="UserType" jdbcType="VARCHAR" property="usertype" />
    <result column="PayType" jdbcType="VARCHAR" property="paytype" />
    <result column="BankName" jdbcType="VARCHAR" property="bankname" />
    <result column="BankNum" jdbcType="VARCHAR" property="banknum" />
    <result column="Formula" jdbcType="VARCHAR" property="formula" />
    <result column="UserMoney" jdbcType="DECIMAL" property="usermoney" />
    <result column="MeterID" jdbcType="INTEGER" property="meterid" />
    <result column="DocNum" jdbcType="VARCHAR" property="docnum" />
    <result column="Pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="ContractNum" jdbcType="VARCHAR" property="contractnum" />
    <result column="ContractDate" jdbcType="TIMESTAMP" property="contractdate" />
    <result column="VolumeID" jdbcType="INTEGER" property="volumeid" />
    <result column="VolumeOrderIndex" jdbcType="INTEGER" property="volumeorderindex" />
    <result column="Disabled" jdbcType="BIT" property="disabled" />
  </resultMap>
</mapper>